@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body {
    margin: 0;
}

:root {
    font-family: 'Inter', sans-serif;
    --sophos-blue: #005bc8;
    --sophos-grey: #a6a7a8;
    --sophos-grey-darker: #9fa0a0;
    --sophos-card-grey: #f8f9fa;
    --sophos-border-main: #dadce0;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 3fr 5fr 6fr 4fr;
}

.side-menu {
    background-color: #242527;
    color: var(--sophos-grey);
    font-size: 14px;
    padding: 8px 10px 0 16px;
    grid-column: 1;
    grid-row: 1/5;
}

.menu-section > h2 {
    color: white;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: .03em;
}

.menu-section > h4 {
    padding-right: 12px;
    color: var(--sophos-grey-darker);
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .05em;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 34px;
}

.main-body {
    height: 800px;
}

#logo {
    padding: 20px 20px 0 0;
    height: 26px;
}

.menu-item {
    height: 20px;
    padding: 6px 0 4px 6px;
    display: flex;
    gap: 10px;
}

.icon {
    filter: invert(68%) sepia(0%) saturate(406%) hue-rotate(252deg) brightness(98%) contrast(90%);
}

.menu-item:hover{
    font-weight: 600;
    color: white;
    background-color: var(--sophos-blue);
    display: flex;
    border-radius: 3px;
    cursor: pointer;
    opacity: 1;
}

.menu-item:hover .icon {
    filter: invert(100%) sepia(26%) saturate(2%) hue-rotate(12deg) brightness(112%) contrast(100%);
}

.header-main {
    grid-row-start: 1;
}

.header-main >h1 {
    padding: 0;
    margin: 0;
}

.alerts-numbers {
    grid-row-start: 2;
}
.alerts-reports {
    grid-row-start: 3;
}
.summary {
    grid-row-start: 4;
}
.security-news {
    grid-row-start: 5;
}

.header-main {
    padding: 12px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--sophos-border-main);
}

.left-header > h1 {
    margin: 0;
    padding: 0;
}

.theme-change-wrapper, #change-color-theme-btn{
    height: 20px;
}

.right-header {
    display: grid;
    grid-template-columns: 20px 100px 120px;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
}

.right-header >* {
    align-self: center;
}

.right-header > button {
    border-radius: 5px;
    border: 1px solid var(--sophos-card-grey);
    background-color: white;
    font-size: 16px;
}

#info-text-header {
    grid-column: 2 / 4;
    font-size: 14px;
    color: dimgrey;
}

.alerts-numbers {
    border: 1px solid var(--sophos-card-grey);
    border-radius: 5px;
    margin: 20px 10px 0;
    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.alerts-numbers >.alert-card {
    background-color: var(--sophos-card-grey);
    border-radius: 8px;
}


.alert-card {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.alert-card:hover {
    background-color: var(--sophos-border-main);
}

.alert-card > .number {
    font-size: 32px;
}

.alert-icon-wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 4px;
}

.red-icon {
    filter: invert(8%) sepia(88%) saturate(5194%) hue-rotate(7deg) brightness(109%) contrast(115%);
}
.blue-icon {
    filter: invert(23%) sepia(97%) saturate(1954%) hue-rotate(202deg) brightness(92%) contrast(103%);
}
.orange-icon {
    filter: invert(61%) sepia(85%) saturate(2821%) hue-rotate(360deg) brightness(101%) contrast(106%);
}
.grey-icon {
    filter: invert(52%) sepia(1%) saturate(2493%) hue-rotate(64deg) brightness(97%) contrast(96%);
}
